.header{
display: flex;
width: 100%;
padding: 12px 24px;
background-color: rgb(167, 229, 237);
border-bottom: 1px solid #dedfdf;
flex-direction: column;
gap: 12px;
color: rgb(209, 7, 7);
}

.title{
font-size: 30px;
}

.date{
font-size: 20px;
}
